// .cmp-experiencefragment--<name> {}

//experience fragmentstyle by LR//
.cmp-experiencefragment--lr{
.cmp-experiencefragment {
    height: auto;
    width: 100%;
    vertical-align: middle;
}
.cmp-button {
    margin-top: 2em;
}
.cmp-title {
    position: relative;
    left: 0%;
    vertical-align: bottom;
    margin-top: 2em;
    margin-bottom: -10px;
    margin-left: 0px;
}
}
.cmp-experiencefragment--lr2 {
    .cmp-experiencefragment {
        height: auto;
        width: 100%;
    }
     .cmp-title {
       
        margin-top: 70px;
        margin-bottom: -20px;
        padding-left: 15px;
    }
    .cmp-title--decorline{
       margin-top: -70px;
       margin-bottom: 30px;
      
    }
}