.cmp-form-text {
    border: none;
    padding-left: 20px;
    margin-top: 5px;
    margin-left: 20px;
}
.cmp-form-text__help-block {}
.cmp-form-text__textarea {}
.cmp-form-text__text {
    display: inline;
    width: 200px;
    height: 34px;
    color: rgb(19, 7, 30);
    outline: none;
    background: white;
    border: none;
    
}
