//Made by LR. Since this component is not changed by teammates I left my changes in general as is//
.cmp-form-options {
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    border: none;
}
.cmp-form-options__legend {}
.cmp-form-options__field-label {}
.cmp-form-options__field {
    width: 200px;
    height: 35px;
    border: none;
    
}
.cmp-form-options__field--checkbox {}
.cmp-form-options__field--radio {}
.cmp-form-options__field-description {}
.cmp-form-options__label {}
.cmp-form-options__drop-down-field {
    border: none;
    
}
.cmp-form-options__multi-drop-down-field {}
.cmp-form-options__help-message {}