.cmp-navigation{}
.cmp-navigation__group{}
.cmp-navigation__item {}

.cmp-navigation-lr{
.cmp-navigation {
  padding: 20px 16px;
    list-style: none;
    text-align: center;
    background: white;
    width: 100%;
    position: relative;
    
}
.cmp-navigation__group {
  -ms-flex-align: center;
}
.cmp-navigation__item {
  display: inline;
	font-size: 18px;
    line-height: 5px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    font-weight: regular;
    padding: 0pt 15pt;
    border-right: 0.01rem solid gray;
}

.cmp-navigation__item:last-child {
  border-right: none
}
.cmp-navigation__item--active {}
// .cmp-navigation__item--level-0 {}
.cmp-navigation__item--level-0:hover > .cmp-navigation__group {
  background: #ECECEC;
}
.cmp-navigation__item-link {
  color: black;
  text-decoration: none;
}
.cmp-navigation__item-link:hover {
  color: #ff6600;
}
.cmp-navigation__item-link:before {
  padding: 2pt;
  color: white;
  content: "";
}
}